@charset "utf-8";
/**/
p.c4 {
    text-align: center;
    font-weight: bold
    }
div.c3 {
    margin-top: 2em
    }
div.c2 {
    page-break-before: always
    }
p.c1 {
    margin-left: 4em
    }
/**/