@charset "utf-8";
/**/
body {
    margin-left: 10%;
    margin-right: 10%
    }
h1, h2, h3, h4 {
    text-align: center;
    /* all headings centered */
    clear: both
    }
p {
    margin-top: 0.51em;
    text-align: justify;
    margin-bottom: 0.49em
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
hr.tb {
    width: 25%
    }
hr.chap {
    width: 45%
    }
table {
    margin-left: auto;
    margin-right: auto
    }
.pagenum {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    font-size: smaller;
    font-style: normal;
    text-align: right
    }
/* page numbers */
.blockquot {
    margin-left: 5%;
    margin-right: 10%
    }
.center {
    text-align: center
    }
.right {
    text-align: right
    }
.smcap {
    font-variant: small-caps
    }
.caption {
    font-weight: bold
    }
.space-above {
    margin-top: 3em
    }
.hanging {
    margin-left: 2em;
    text-indent: -2em
    }
.sig {
    text-align: right;
    margin-right: 5%
    }
.sig2 {
    text-align: left;
    margin-left: 45%
    }
/* Images */
.figcenter {
    margin: auto;
    text-align: center
    }
.bord img {
    border: 2px solid black
    }
/* Footnotes */
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.9em
    }
.footnote .label {
    text-align: right
    }
.fnanchor {
    vertical-align: super;
    font-size: 55%;
    text-decoration: none
    }
/* Poetry */
.poem {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left
    }
.poem br {
    display: none
    }
.poem .stanza {
    margin: 1em 0 1em 0
    }
.poem span.i0 {
    display: block;
    margin-left: 0;
    padding-left: 3em;
    text-indent: -3em
    }
.poem span.i1 {
    display: block;
    margin-left: 0.5em;
    padding-left: 3em;
    text-indent: -3em
    }
.poem span.i3 {
    display: block;
    margin-left: 1.5em;
    padding-left: 3em;
    text-indent: -3em
    }
@media all {
    /* was @media handheld */
    .poetry {
        display: block;
        margin-left: 1.5em
        }
    }
/* Transcriber's notes */
.tn {
    background-color: #E6E6FA;
    color: black;
    font-size: smaller;
    padding: 0.5em;
    margin-bottom: 5em;
    font-family: sans-serif, serif
    }
/**/