@charset "utf-8";
/**/
span.c33 {
    margin-left: 3em
    }
span.c32 {
    margin-left: 1em
    }
span.c31 {
    margin-left: 1.5em
    }
span.c30 {
    margin-left: 0.5em
    }
span.c29 {
    margin-left: 18em
    }
/**/